.logo{
    width: 80px;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0px;
}
.main-header {
    background-color: #e7a5de;
     display: grid;
    grid-template-columns: auto 1fr auto;  
}
.navigation {
    grid-column-start:3 ;
}